{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}">

    {% if title %}
        <title>Appdopt - {{ title }}</title>
    {% else %}
        <title>Appdopt</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' currentuser %}">Appdopt</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' currentuser %}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'mypost' currentuser %}">My Post</a>
              <a class="nav-item nav-link" href="{% url 'post' currentuser %}">Post</a>
              <a class="nav-item nav-link" href="{% url 'profile' currentuser %}">Update Profile</a>
              <a class="nav-item nav-link" href="{% url 'search' currentuser %}">Search</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages%}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Welcome {{ currentuser }}</h3>
            <p class='text-muted'>Appdopt a place to find your ideal pet
              <ul class="list-group">
                <form method="GET">
                    <label for="psearch"> Search Posts: </label>
                      <input type="search" id="psearch" name="psearch" placeholder="Search">

                        <li class="list-group" style = "margin-top:10px">
                          <select id="price" class="form-control" name="price">
                            <option selected="selected" value="ASC" >Price</option>
                            <option value="DESC"> Decreasing </option>
                            <option value="ASC"> Increasing </option>
                          </select>
                        </li>
                        <li class="list-group" style = "margin-top:10px">
                          <select id="age_range" class="form-control" name="age_range">
                            <option selected="selected" value="" >Age range</option>
                            <option value="less than 1"> &le; 1 Year </option>
                            <option value="1 to 3"> 1 Year - 3 Years </option>
                            <option value="3 to 6"> 3 Year - 6 Years </option>
                            <option value="6 to 10"> 6 Year - 10 Years </option>
                            <option value="more than 10"> &ge; 10 Years </option>
                          </select>
                        </li>
                        <li class="list-group" style = "margin-top:10px">
                          <select id="gender" class="form-control" name="gender">
                            <option selected="selected" value="" >Gender</option>
                            <option value="Female"> Female </option>
                            <option value="Male"> Male </option>
                          </select>
                        </li>
                      <button style = "margin-top:15px" type="submit" class="btn btn-outline-info">Search</button>
                </form>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
