{% load static %}
<html>
<body>
    <h2>Admin Page</h2>
    <img src="{% static 'app/images/logo.png' %}" width="20%"   alt="Appdopt logo"/><br/>
    <a href="index/add">New User</a>
    <br/><br/>
    <table border=1 style = "float: left;margin-right:20px">
        <thead>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            
        </thead>
        {% for user in records %}
        <tr>
            <td> {{ user.3 }} </td>
            <td> {{ user.0 }} </td>
            <td> {{ user.1 }} </td>
            <td>
                <a href="index/adminView/{{user.3}}"><button>View</button></a> | 
                <a href="index/edit/{{user.3}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{user.3}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{user.3}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
    
    <table border=1 style="float: left;margin-right:20px">
        <thead>
            <th>Post ID</th>
            <th>Username</th>
            <th>Date of Post</th>
            <th>Status</th>
            
        </thead>
        {% for post in listing %}
        <tr>
            <td> {{ post.0 }} </td>
            <td> {{ post.1 }} </td>
            <td> {{ post.4 }} </td>
            <td> {{ post.9 }} </td>
            <td>
                <a href="index/postView/{{post.0}}"><button>View</button></a> | 
                <a href="index/postEdit/{{post.0}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete post {{post.0}}?');" type="submit" name="action" value="deletePost">Delete</button> 
              </form></td>
        </tr>
       {% endfor %}
    </table>
    
    <table border=1 style="float: left">
        <thead>
            <th>Post ID</th>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Date of Sale</th>
            
        </thead>
        {% for transactions in history %}
        <tr>
            <td> {{ transactions.0 }} </td>
            <td> {{ transactions.2 }} </td>
            <td> {{ transactions.3 }} </td>
            <td> {{ transactions.1 }} </td>
            <td>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{transactions.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete transaction {{transactions.0}}?');" type="submit" name="action" value="deleteTransaction">Delete</button> 
              </form></td>
        </tr>
       {% endfor %}
    </table>
</body>
</html>
