{% extends "app/base.html" %} {% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages%} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %}

            <!-- My sales -->
            <h4>Pending Sales</h4>
            {% if not my_sales %} No pending sales {% endif %} {% for post in my_sales %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information: </h5> Buyer: {{post.11}} <br> Buyer phone number: {{post.14}} <br>
                        <Strong style="color:red;"> Status: {{ post.12 }}</strong>
                    </p>
                </div>
                <td>
                    <form method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.0}}" />
                        <button onclick="return confirm('Are you sure you want to accept transaction?');" type="submit" name="action" value="Accept">Accept</button>
                        <button onclick="return confirm('Are you sure you want to cancel transaction?');" type="submit" name="action" value="Cancel">Cancel</button>
                    </form>
                </td>
            </article>
            {% endfor %}

            <!-- My orders -->
            <h4>Pending Orders</h4>
            {% if not my_orders %} No pending orders {% endif %} {% for post in my_orders %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information:</h5>
                        Seller: {{post.10}} <br> Seller phone number: {{post.15}} <br>
                        <Strong style="color:red;">Status: {{ post.12 }}</strong>
                    </p>
                </div>
                <td>
                    <form method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.0}}" />
                        <button onclick="return confirm('Are you sure you want to cancel transaction?');" type="submit" name="action" value="Cancel">Cancel</button>
                    </form>
                </td>
            </article>
            {% endfor %}

            <!-- Completed orders -->
            <h4>Completed Orders</h4>
            {% if not completed %} No completed orders {% endif %} {% for post in completed %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information:</h5>
                        Seller: {{post.10}} <br> Seller phone number: {{post.15}} <br>
                        <Strong style="color:green;">Status: {{ post.12 }}</strong>
                    </p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}