{% extends "app/base.html" %} {% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages%} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %}

            <!-- My sales -->
            <h4>Pending Sales</h4>
            {% if not my_sales %} No pending sales {% endif %} {% for post in my_sales %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information: </h5> Buyer: {{post.11}} <br> Buyer phone number: {{ post.14 }} <br>
                        <Strong style="color:red;"> Status: {{ post.12 }}</strong>
                    </p>
                </div>
                <td>
                    <form method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.0}}" />
                        <button onclick="return confirm('Are you sure you want to accept transaction?');" type="submit" name="action" value="Accept">Accept</button>
                        <button onclick="return confirm('Are you sure you want to cancel transaction?');" type="submit" name="action" value="Cancel">Cancel</button>
                    </form>
                </td>
            </article>
            {% endfor %}

            <!-- My orders -->
            <h4>Pending Orders</h4>
            {% if not my_orders %} No pending orders {% endif %} {% for post in my_orders %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information:</h5>
                        Seller: {{post.10}} <br> Seller phone number: {{post.13}} <br>
                        <Strong style="color:red;">Status: {{ post.12 }}</strong>
                    </p>
                </div>
                <td>
                    <form method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.0}}" />
                        <button onclick="return confirm('Are you sure you want to cancel transaction?');" type="submit" name="action" value="Cancel">Cancel</button>
                    </form>
                </td>
            </article>
            {% endfor %}

            <!-- Completed Sales -->
            <h4>Completed Sales</h4>
            {% if not completed_sales %} No completed sales {% endif %} {% for post in completed_sales %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information:</h5>
                        Buyer: {{post.11}} <br> Buyer phone number: {{post.14}} <br>Date of sale: {{post.9}} <br>
                        <Strong style="color:green;">Status: {{ post.12 }}</strong>
                    </p>
                </div>
            </article>
            {% endfor %}

            <!-- Completed Purchase -->
            <h4>Completed Purchase</h4>
            {% if not completed_purchase %} No completed purchase {% endif %} {% for post in completed_purchase %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.0 }}</a>
                        <small class="text-muted">{{ post.9 }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'view' username=currentuser  id=post.0 %}">{{ post.6 }}</a></h2>
                    <p class="article-content">
                        Pet: {{ post.1 }} <br> Breed: {{ post.2 }} <br> Age: {{ post.3 }} <br> Price: {{ post.4 }} <br> Gender: {{ post.7 }} <br> Description: {{ post.5 }} <br> Location: {{ post.8 }}
                        <h5>Contact information:</h5>
                        Seller: {{post.10}} <br> Seller phone number: {{post.13}} <br> Date of sale: {{post.9}} <br>
                        <Strong style="color:green;">Status: {{ post.12 }}</strong>
                    </p>
                </div>
                <td>
                    
                    <form method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.0}}" />
                        <li class="list-group" style="margin-top:10px">
                        <label for="id_ratings" class="control-label requiredField">Ratings (1-5)<label></label>
                        <select id="ratings" class="form-control" name="ratings">
                      
                      <option value="1"> 1 </option>
                      <option value="2"> 2 </option>
                      <option value="3"> 3 </option>
                      <option value="4"> 4 </option>
                      <option value="5"> 5 </option>
                    </select>
                            <button style="margin-top:8px" type="submit" class="btn btn-outline-info" name = "action" value = "Rate">Submit</button>
                        </li>
                    </form>


                </td>
            </article>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock content %}