{% extends "app/base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
          {% if messages%}
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
    <div class="content-section">
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->
            <div id="div_id_pet" class="control-group"> <label for="id_pet" class="control-label requiredField">
            Pet<span class="asteriskField">*</span> </label> <div> <select name="pet" id="pet" class = "form-control">
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Guinea Pig">Guinea Pig</option>
                    <option value="Hamster">Hamster</option>
                    <option value="Rabbit">Rabbit</option>
                </select></div></div><div label for="id_breed" class="control-label requiredField">
            Breed<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="breed" value="{{obj.3}}" maxlength="64" class="textinput textInput" required="" id="id_breed"> </div> </div> <div id="div_id_age_of_pet" class="control-group"> <label for="id_age_of_pet" class="control-label requiredField"></label>
            Age of Pet (between 0 and 10)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="age_of_pet" min = "0" max = "10" value = "{{obj.5}}" id="id_age_of_pet"> </div> </div> <div id="div_id_age_of_pet" class="control-group"> <label for="id_page_of_pet" class="control-label requiredField">
            Price (in SGD)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="price" min = "0" max = "99999" value = "{{obj.6}}" step = "0.01" required="" id="id_price"> </div> </div> <div id="div_id_price" class="control-group"> <label for="id_price" class="control-label requiredField">
            Description<span class="asteriskField">*</span> </label> <div class="controls"> <input value = "{{obj.7}}" style="width: 500px;font-size: 14px" type="text" name="description" maxlength="256" class="textinput textInput" required="" id="id_description"> </div> </div> <div id="div_id_description" class="control-group"> <label for="id_description" class="control-label requiredField"></label>
            Title<span class="asteriskField">*</span> </label> <div class="controls"> <input value = "{{obj.8}}" style="width: 500px;" type="text" name="title" maxlength="256" class="textinput textInput" required="" id="id_title" placeholder = "Selling a Golden Retriever!"> </div> </div> <div id="div_id_title" class="control-group"> <label for="id_title" class="control-label requiredField"></label>
            Gender<span class="asteriskField">*</span> </label> <div> <select name="gender" id="gender" class = "form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select></div></div> <div id="div_id_gender" class="control-group"> <label for="id_gender" class="control-label requiredField">
            Preferred location<span class="asteriskField">*</span></label><div class="controls"> <input value = "{{obj.11}}" type="text" name="location" maxlength="64" placeholder="Dhoby Ghaut" class="textinput textInput" required="" id="id_location"> </div> </div> <div id="div_id_location" class="control-group"> </div>
            Status<span class="asteriskField">*</span> </label> <div> <select name="status" id="status" class = "form-control"> 
                <option value="AVAILABLE">AVAILABLE</option>
                <option value="NOT AVAILABLE">NOT AVAILABLE</option>
            </select></div></div>
    
            <br>
            <button type="submit" value="Update">Update</button>
        </form>
        <p style="color:red">{{ status }}</p>
    </div>
{% endblock content %}