<html>
<body>
    <h2>Details for post_id {{cust.0}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>post_id</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>username</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>pet</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>breed</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>date_of_post</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>age_of_pet</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>price</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
        <tr>
            <th>description</th>
            <td>:</td>
            <td> {{ cust.7 }} </td>
        </tr>
        <tr>
            <th>title</th>
            <td>:</td>
            <td> {{ cust.8 }} </td>
        </tr>
        <tr>
            <th>status</th>
            <td>:</td>
            <td> {{ cust.9 }} </td>
        </tr>
        <tr>
            <th>gender</th>
            <td>:</td>
            <td> {{ cust.10 }} </td>
        </tr>
    </table>
</body>
</html>